{% extends "base.html" %}
{% load static %}  <!-- Добавьте эту строку в начале -->

{% block title %}ООО "РОСТПОЛИМЕРПРОМ" - Производитель полимерных люков{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Di.css' %}">  <!-- Добавьте эту строку -->
<div class="minimal-catalog">
    <h1 class="h1_catalog">Каталог продукции</h1>
    
    <div class="product-grid_catalog">
        {% for product in products %}
        <div class="product-card_catalog">
            <div class="product-image-box_catalog">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy">
                {% else %}
                <div class="no-image">⌖</div>
                {% endif %}
            </div>
            
            <div class="product-info_catalog">
                <h2>{{ product.name }}</h2>
                <p class="description_catalog">{{ product.description|truncatechars:120 }}</p>
                <a href="{% url 'product_detail' product.pk %}" class="more-btn_catalog">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}